body {
  margin: 0 auto;
  text-align: center;
  background: url(../../images/bcg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header{
  background: black;
  width: 100%;
}

#sign{
  float: right;
  list-style: none;
  margin-right: 40px;
}

#sign li{
  display: inline;
  margin-right: 20px;
}

#sign li a{
  text-decoration: none;
  color: white;
}

h1 {
  clear: right;
  padding-top: 50px;
  color: white;
}

.message {
  color: black;
  margin-left:40%;
  width: 20%;
  background-color: white;
  opacity: 0.8;
}

.form {
  margin-left:40%;
  width: 20%;
  background-color: white;
  padding-top: 30px;
  opacity: 0.8;
  padding-bottom: 30px;
}

.formm {
  margin-left:35%;
  width: 30%;
  background-color: white;
  height: 250px;
  padding-top: 30px;
  opacity: 0.8;
}

#admin {
  padding-top: 30px;
  background-color: white;
  opacity: 0.8;
  width: 30%;
  margin-left: 35%;
}

.delete {
  background-color: white;
  opacity: 0.8;
}
